body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

article{
    flex:1;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: flex-start, space-evenly;
    background-color: aliceblue;
    border-bottom:2px solid black;
    width:100%;
}

.navbar a {
    display: flex;
    flex:1;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:#5C7BAD;
    font-size: large;
}

.navbar a:hover {
    background-color: #0F1E53;
    color:white;
}

.navbar img {
    width: auto;
    height:70px;
    padding-left: 20px;
}

.content {
    padding: 70px 0px 0px 5%;

    a {
        position: absolute;
        text-decoration: none;
        color: #5C7BAD;
        margin-top: -60px;
    }

    a:hover{
        margin-top: -60px;
        background-color: #0F1E53;
        border-radius: 15px;
        color: white;
        }
}

#title {
    display: flex;
    justify-content: center;
}

.footer {
    position: relative;
    bottom:0;
    width:100%;
    background-color: aliceblue;
    border-top:2px solid black;
    height: 50px;
    padding: 15px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

    h2{
        border-bottom: 2px solid black;
        padding-left: 15px;
        padding-right: 15px;
    }
    p{
        border-bottom: 1px solid grey;
        background-color: aliceblue;
        padding: 15px;
        letter-spacing: 0.34px;

        a{
            text-decoration: none;
            color: #5C7BAD;
        }

        a:hover{
            background-color: #0F1E53;
            border-radius: 15px;
            color: white;
            padding: 5px 0px 5px 0px;
        }
    }
}

.table {
    border: 1px solid black;
    margin: 0 10% 50px 10%;
}

#space-taker {
    flex: 1;
}

#disclaimer{
    margin: 5% 10% 5% 10%;
}